[package]
# Name of the project goes here
# Note - it should be the same as the folder which you store your code in!
name = "minimal_plugin"
version = "0.1.0"
edition = "2021"

[lib]
# Name of the project goes here
# Note - it should be the same as the folder which you store your code in!
name = "minimal_plugin"
crate-type= ["cdylib"]

[dependencies]
pyo3 = { version = "0.20.0", features = ["extension-module"] }
pyo3-polars = { version = "0.10.0", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
polars = { version = "0.36.2", default-features = false }
polars-arrow = { version = "0.36.2", default-features = false }
rust-stemmers = "1.2.0"

[target.'cfg(target_os = "linux")'.dependencies]
jemallocator = { version = "0.5", features = ["disable_initial_exec_tls"] }
